configuration: Release
init:
  - git config --global core.autocrlf true
before_build:
  - dotnet restore
# Will build dependencies in release (optimize and portable pdbs) mode:
build_script:
  - cmd: for /f %%a in ('dir /b test') do dotnet test -c Release test/%%a/%%a.csproj
# Will build in Coverage mode (full pdbs) and upload coverage to Codecov
on_success:
  - ps: coverage.ps1 -UploadCodecov
environment:
  global:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
test: off
deploy: off
os: Visual Studio 2017